<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CIRious Games Usine</title>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
    <script src="../js/Cartes/Choix.js"></script>
    <script src="../js/Cartes/Cartes.js"></script>
    <script src="../js/Utils/proba.js"></script>
    <script src="../js/Utils/varGlobales.js"></script>
    <script src="../js/Ecologie/Ecologie.js"></script>
    <script src="../js/Ecologie/Fournisseur.js"></script>
    <script src="../js/Ecologie/Energie.js"></script>
    <script src="../js/Ligne/Composant.js"></script>
    <script src="../js/Ligne/Ligne.js"></script>
    <script src="../js/Joueur.js"></script>
    <script src="../js/main.js"></script>
</head>


<body style="overflow: hidden;">
</body>

</html>
