<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CIRious Games Usine</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100%;}
    </style>
 
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/game.css">
    <link rel="stylesheet" href="../js/libs/slick/slick.css"/>
    <link rel="stylesheet" href="../js/libs/slick/slick-theme.css"/>
</head>
 
<body style="overflow: hidden;", class="text-left body">
    <div class="hud">
        <div id="head-tire-div">
            <h3 class="text-center text-light bg-secondary"><strong>Modern Factory</strong></h3>
        </div>
 
        <div class="col-md-4">
            <h5 class="text-left">Croissance</h5>
            <div class="progress beautiful" style="width: 80%;">
                <div id="economie"class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 0%;"><span class="sr-only"></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="text-left">Social</h5>
            <div class="progress beautiful" style="width: 80%;">
                <div id="social"class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 0%;"><span class="sr-only"></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="text-left">Ecologie</h5>
            <div class="progress beautiful" style="width: 80%;">
                <div id="ecologie"class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 0%;"><span class="sr-only"></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="text-left">Production</h5>
            <div class="progress beautiful" style="width: 80%;">
                <div id="production"class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%;"><span class="sr-only">80%</span></div>
            </div>
        </div>
 
        <div id="cadrant_finance" class="finance">
            <p class="ecriture2 inline"> Trésorerie :</p> <h2 class="ecriture2 inline" id="solde"></h2></br>
            <p class="ecriture2 inline"> Produits invendus : </p><h2 class="ecriture2 inline" id="stock"></h2></br>
            <p class="ecriture2 inline"> Consommation Energétique : </p><h2 class="ecriture2 inline" style ="margin-bottom: 1em;" id="consoNRJ"></h2></br>
        </div>
        <div id="cadrant_finance" class="finance">
            <p class="ecriture2 inline"> Salaires des employés : </p><h2 class="ecriture2 inline" id="salaires"></h2></br>
            <p class="ecriture2 inline"> Budget publicité : </p><h2  class="ecriture2 inline" id="pub"></h2>
        </div>
       
        <div id="modal_Magasin" class="modal modal-sm">
            <div class="info">
                <center>
                    
                    <div class="row">
                        <div class="col">
                            <img src="../textures/ligne.png" class="rounded" >
                            </br>
                            <span style="margin-top:5px;">&nbsp Lignes : 300k €</span>
                            </br></br>
                            <span class="input-group-btn">
                                <button id="lignes-plus" type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <br>
                            <input id="lignes-nb" type="text" name="quant[2]" class="input-number" value="0" min="0" max="100" style="width:40px;text-align: center;" disabled>
                            <br>
                            <span class="input-group-btn">
                                <button id="lignes-moins" type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                        </div>
                        <div class="col">
                            <img src="../textures/panne.png" class="rounded" >
                            </br>
                            <span style="margin-top:5px;">&nbsp Reparation : 50k €</span>
                            </br></br>
                            <span class="input-group-btn">
                                <button id="pannes-moins" type="button" class="btn btn-success btn-number"  data-type="plus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                </span>
                            </span>
                            </br>
                            <input id="pannes-nb" type="text" name="quant[2]" class="input-number" value="0" min="0" max="100" style="width:40px;text-align: center;" disabled>
                            
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <img src="../textures/employe.png" class="rounded" >
                            </br>
                            <span style="margin-top:5px;">&nbsp Employés</span>
                            </br></br>
                            <span class="input-group-btn">
                                <button id="employes-plus" type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <br>
                            <input id="employes-nb" type="text" name="quant[2]" class="input-number" value="0" min="0" max="100" style="width:40px;text-align: center;" disabled>
                            <br>
                            <span class="input-group-btn">
                                <button id="employes-moins" type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                        </div>
                        <div class="col">
                            <img src="../textures/robot.png" class="rounded" >
                            </br>
                            <span style="margin-top:5px;">&nbsp Robots : 35k €</span>
                            </br></br>
                            <span class="input-group-btn">
                                <button id="robots-plus" type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <br>
                            <input id="robots-nb" type="text" name="quant[2]" class="input-number" value="0" min="0" max="100" style="width:40px;text-align: center;" disabled>
                            <br>
                            <span class="input-group-btn">
                                <button id="robots-moins" type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <button type="button" class="btn btn-light btn-sm ecriture2" id="bouton_Magasin">Fermer</button>
                </center>   
            </div>
        </div>

        <div class="col-md-4" id="newTour">
            <button type="button" class="btn btn-primary"><h1 class="text-left">Tour suivant</h1></button>
        </div>
        <div class="cadre fixed-bottom" id="cadre">
        </div>
        
        <div id="modal_next" class="modal">
            <p class="ecriture-modal" id="text-modal"></p>
            </br>
            <center>
                <button type="button" class="btn btn-light btn-sm ecriture2" id="bouton_next">Suivant</button>
            </center>   
        </div>
        
        <div id="modal_jouer" class="modal">
            <p class="ecriture-modal" id="text-modal-dernier"></p>
            </br>
            <center>
                <button type="button" class="btn btn-light btn-sm ecriture2" id="bouton_jouer">Fermer</button>
            </center>   
        </div>
    </div>
  
 
   
    <script src="/socket.io/socket.io.js"></script>
    <script type="application/javascript" src="../js/libs/three.js"></script>
    <script type="application/javascript" src="../js/libs/OrbitControls.js"></script>
    <script type="application/javascript" src="../js/libs/GLTFLoader.js"></script>
    <script type="application/javascript" src="../js/libs/SkeletonUtils.js"></script>
    <script type="application/javascript" src="../js/libs/Fire.js"></script>
 
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
 
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../js/libs/slick/slick.min.js"></script>
 
    <!-- jQuery Modal Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
 
    <script type="application/javascript" src="../js/rendu.js"></script>
    <script type="application/javascript" src="../js/game.js"></script>
    <script type="application/javascript" src="../js/boutique.js"></script>
    <script type="application/javascript" src="../js/main.js"></script>
</body>
 
</html>