<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Modern Factory</title>
</head>
 
 
<body style="background-image: url('textures/MENU-background.png');">
 
    <center>
        <!-- titre -->
        <h1 class="ecriture_titre"> USINE DU FUTUR</h1>
        <h1 class="ecriture"> projet CIR²</h1>
    </center>
 
    <center>
        <div>
            <img src="/textures/logo.png">
        </div>
    </center>
    </br>
       
    <!-- div qui contient tout le formulaire du menu -->
    <center>
        <form name="formulaire" action='./jeu' style="width:20%" method="GET">
            <!-- entrée du pseudo -->
            <div>
                <input class="form-control" type="text" name="nb" id="nb" placeholder="Nombre de joueurs">
            </div>
            <div>
                <input class="form-control" type="text" name="duree" id="duree" placeholder="Nombre de tours dans la partie">
            </div>
            </br>

            <div class="Info" id="menu">
                    <!-- bouton pour lancer la partie -->
                    <button class="btn btn-dark" type="submit" id="play">PLAY</button>
            </div>
        </form>
    </center>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../js/menu.js"></script>
</body>
 
</html>