.beautiful.progress {
  height: 2vh;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h5 {
  color:white;
}

.beautiful.progress.progress-square {
  border-radius: 0px;
}

.beautiful.progress.progress-circle {
  border-radius: 500px;
}

.beautiful.progress.progress-xs .progress-bar {
  line-height: 1vh;
}

.beautiful.progress.progress-xs {
  height: 1vh;
  border-radius: 1px;
}

.beautiful.progress .progress-bar.progress-bar-success {
  background-color: #46be8a;
  background-image: none;
}

.beautiful.progress .progress-bar.progress-bar-info {
  background-color: #57c7d4;
  background-image: none;
}

.beautiful.progress .progress-bar.progress-bar-warning {
  background-color: #f2a654;
  background-image: none;
}

.beautiful.progress .progress-bar.progress-bar-danger {
  background-color: #f96868;
  background-image: none;
}

.beautiful.progress .progress-sm {
  height: 2vh;
}

.beautiful.progress .progress-sm .progress-bar {
  line-height: 2vh;
}

.beautiful.progress.progress-lg {
  height: 2vh;
}

.beautiful.progress .progress-lg .progress-bar {
  line-height: 2vh;
}

.beautiful.progress .progress-bar {
  background-image: none;
  line-height: 2vh;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #62a8ea;
}
#boutique {
  margin-top: 1vh;
}
#newTour {
  margin-top: 1vh;
  height: 2vh;
}
#titre {
  padding-left: 50%;
}

#head-tire-div {
  height: 50px;
}
.jeu { 
  position: relative;
  z-index: auto;
  height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.hud {
  position: relative;
  z-index: 1;
  height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.cadre{
  width: 70%;
  /*position: relative;*/
  z-index: 1;
  /*margin-top: 20vh;*/
  margin-left: 15%;
}
.slick-slide {
  margin: 0 8px;
  border: solid;
  border-color: rgb(53, 51, 51);
  padding-left: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.htc);
  overflow-x: hidden; 
}
.ecriture1{
  color: rgb(49, 47, 47);
  font-size: 1.5vw;
  text-align: center;
}
.ecriture2{
  color: rgb(49, 47, 47);
  font-size: 1vw;
}
.ecriture-modal{
  color: rgb(49, 47, 47);
  font-size: 1.3vw;
  text-align: center;
}

.ecriture-modal-nb{
  color: rgb(49, 47, 47);
  font-size: 1.3vw;
  text-align: center;
  white-space:nowrap;
}
.text-left{
  font-size: 1vw;
}
.ponctuel_energie{
  background-color: rgba(191,232,236);
}
.ponctuel_social{
  background-color: rgba(255, 0, 0, 0.9);
}
.ponctuel_publicite{
  background-color: rgba(255, 255, 0, 0.9);
}
.ponctuel_ecologie{
  background-color: rgba(51,201,28, 0.9);
}
.ponctuel_production{
  background-color: rgba(243, 138, 246, 0.9);
}
.repetition_social{
  background-color: rgba(244,44,44, 0.9);
}
.repetition_production{
  background-color: rgba(255,126,126, 0.9);
}
.repetition_amelioration{
  background-color: rgba(226, 240, 223, 0.9);
}
.repetition_publicite{
  background-color: rgba(208, 255, 0, 0.9);
}
.ponctuel_publicite{
  background-color: rgba(244,217,153, 0.9);
}
.amelioration_energie{
  background-color: rgba(54, 166, 240, 0.9);
}
.amelioration_social{
  background-color: rgba(255, 166, 0, 0.95);
}
.amelioration_production{
  background-color: rgba(185, 74, 250, 0.9);
}
.amelioration_publicite{
  background-color: rgba(233, 233, 170, 0.9);
}
.amelioration_ecologie{
  background-color: rgba(131, 238, 9, 0.9);
}
.evenement{
  background-color: rgba(18, 248, 237, 0.9);
}
.body{
  overflow-x: hidden; 
  overflow-y: hidden; 
}
.coche{
  /*margin-left: 80%;*/
  margin-top:6.5px;
  width:2em;
  height:2em;
}
.googlescrollbare::-webkit-scrollbar {
  width: 6px;
}
.googlescrollbare::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
.googlescrollbare::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 20px;
  border: 3px solid rgba(230, 230, 230, 0);
}
.finance{
  margin-top: 1vh;
  margin-left: 1%;
  width: 20%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.801);
  border: solid;
  border-color: rgb(53, 51, 51);
  padding-top:10px;
  padding-left: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.htc);
}
.inline{
  display: inline;
}
.input-number{
  border-color: rgba(255, 255, 255, 0);
}
.info{
  margin-top: 10px;
}

/*         Ajout des Glyphicons de BootStrap 3         */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.modal {
  width: 30%; /* Full width */
  height: auto; /* Full height */
  margin-top: 20vh;
  margin-left: 35%;
  background-color: rgba(255, 255, 255, 0.979); /* Black w/ opacity */
}
.modal-sm{
  width: 1000px; /* Full width */
  height: auto; /* Full height */
  margin-top: 15vh;
  margin-left: 40%;
  background-color: rgba(255, 255, 255, 0.979); /* Black w/ opacity */
}
.btn-sm{
  margin-top: 0vh;
}
.btn-light{
  margin-left: 1%;
  width: 20%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.801);
  border: solid;
  border-color: rgb(53, 51, 51);
  padding-left: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.htc);
  width: auto;
  margin-top: 1vh;
}