.beautiful.progress {
  height: 2vh;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h5 {
  color:white;
}

.beautiful.progress.progress-square {
  border-radius: 0px;
}

.beautiful.progress.progress-circle {
  border-radius: 500px;
}

.beautiful.progress.progress-xs .progress-bar {
  line-height: 1vh;
}

.beautiful.progress.progress-xs {
  height: 1vh;
  border-radius: 1px;
}

.beautiful.progress .progress-bar.progress-bar-success {
  background-color: #46be8a;
  background-image: none;
}

.beautiful.progress .progress-bar.progress-bar-info {
  background-color: #57c7d4;
  background-image: none;
}

.beautiful.progress .progress-bar.progress-bar-warning {
  background-color: #f2a654;
  background-image: none;
}

.beautiful.progress .progress-bar.progress-bar-danger {
  background-color: #f96868;
  background-image: none;
}

.beautiful.progress .progress-sm {
  height: 2vh;
}

.beautiful.progress .progress-sm .progress-bar {
  line-height: 2vh;
}

.beautiful.progress.progress-lg {
  height: 2vh;
}

.beautiful.progress .progress-lg .progress-bar {
  line-height: 2vh;
}

.beautiful.progress .progress-bar {
  background-image: none;
  line-height: 2vh;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #62a8ea;
}

.blanc {
  color:white;
}

#boutique {
  margin-top: 1vh;
}
#newTour {
  margin-top: 1vh;
  height: 2vh;
}

#Info {
  margin-top: 18vh;
}


#titre {
  padding-left: 50%;
}

#head-tire-div {
  height: 50px;
}
.jeu { 
  position: relative;
  z-index: auto;
  height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.hud {
  position: relative;
  z-index: 1;
  height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.cadre{
  width: 60%;
  position: relative;
  z-index: 1;
  margin-top: 35vh;
  margin-left: 20%;
}
.slick-slide {
  margin: 0 10px;
  border: solid;
  border-color: rgb(53, 51, 51);
  padding-left: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.htc);
}
.ecriture1{
  color: rgb(49, 47, 47);
  font-size: 2vw;
}
.ecriture2{
  color: rgb(49, 47, 47);
  font-size: 1vw;
}
.text-left{
  font-size: 1vw;
}
.ponctuel_energie{
  background-color: rgba(0, 0, 255, 0.849);
}
.ponctuel_social{
  background-color: rgba(255, 0, 0, 0.849);
}
.ponctuel_publicite{
  background-color: rgba(255, 255, 0, 0.849);
}
.ponctuel_ecologie{
  background-color: rgba(0, 128, 0, 0.849);
}
.ponctuel_production{
  background-color: rgba(243, 138, 246, 0.849);
}
.repetition_social{
  background-color: rgba(170, 8, 8, 0.849);
}
.repetition_production{
  background-color: rgba(168, 111, 120, 0.849);
}
.repetition_amelioration{
  background-color: rgba(226, 240, 223, 0.849);
}
.ponctuel_publicite{
  background-color: rgba(160, 160, 10, 0.849);
}
.amelioration_energie{
  background-color: rgba(54, 166, 240, 0.849);
}
.amelioration_social{
  background-color: rgba(255, 166, 0, 0.849);
}
.amelioration_production{
  background-color: rgba(162, 0, 255, 0.849);
}
.amelioration_publicite{
  background-color: rgba(233, 233, 170, 0.849);
}
.amelioration_ecologie{
  background-color: rgba(131, 238, 9, 0.849);
}
.cout{
  border: solid;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(53, 51, 51, 0.993);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  behavior: url(/PIE.htc);
}

/*         Ajout des Glyphicons de BootStrap 3         */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
/*
*from 005 to 260
.glyphicon-menu-up:before {
  content: "\e260";
} */