.Info {
    position:absolute;
    margin-top:2%;
    width: 20%;
}
 
body {
    margin:0;
    color:black;
    background-color:white;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
}
   
.ecriture{
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
.ecriture_titre{
    color: rgb(255, 255, 255);
    font-size: 4vw;
    margin-top: 1%;
    font-family: Impact, fantasy;
    margin-top: 2%;
    ;
}
#play{
    font-size: 200%;
    font-family: Impact, fantasy;
    width: 100%;
    margin-top: 1%;
}
img {
    margin-top: 1%;
    height: 30vh;
    width: auto;
}